@model IEnumerable<Microtravel.Models.Travel>

@{
    ViewData["Title"] = "Utazások kezelése";
}
<h1 class="text-center" style="color: #266882;">Utazások kezelése</h1>
<hr />
<p>
    <a asp-action="Create">Új utazás hozzáadása</a>
</p>
<p>
    <a asp-action="ResetDatabase">Adatbazis reset</a>
</p>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    Utazás neve
                </th>
                <th scope="col">
                    Utazás Típusa
                </th> 
                <th scope="col">
                    Utazás jellege
                </th>
                <th scope="col">
                    Utazás ár
                </th>
                <th scope="col">
                    Tervezett kezdési dátum
                </th>
                <th scope="col">
                    Utazás regisztrációs dátuma
                </th>
                <th scope="col">
                    Utazás engedélyezése a weboldalra
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr scope="row">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TravelType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TravelDealType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) EUR
                </td>
                <td>
                        @(item.TravelDate.ToString("yyyy.MM.dd"))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TravelRegDate)
                </td>
                <td>
                        @(item.Enabled == 1 ? "Engedélyezve" : "Letiltva")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Szerkesztés</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Megtekintés</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Törlés</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>